include ../layouts/layoutBS
//
//h2 #{title}


.container
    p.mt-4 Admin Side
    if sales.length == 0
        h2.mt-4 Sorry no current products
    else
        h2.mt-4 #{title}
        table.table.table-striped.table-info
            thead
                tr
                    th(scope='col' style='background-color:dodgerblue') Date
                    th(scope='col' style='background-color:dodgerblue') CustomerName
                    th(scope='col' style='background-color:dodgerblue') Product
                    th(scope='col' style='background-color:dodgerblue') Quantity
                    th(scope='col' style='background-color:dodgerblue') Total Sales

            tbody
                //
                    "SELECT DATE_FORMAT(s.SalesDate, '%Y-%m-%d') AS Date," +
                                " c.CustomerName," +
                                " i.ItemName AS Product," +
                                " s.Quantity AS Quantity," +
                                " (i.ItemPrice * s.Quantity) AS TotalSales"
                    //
                each s in sales
                    tr
                        td= s.Date
                        td= s.CustomerName
                        td= s.Product
                        td= s.Quantity
                        td= s.TotalSales
                        //td
                        //    form( method='get' action='editItem/' + c.CustomerID )
                        //        button(type='submit' class='btn btn-primary') Edit
                        //td
                        //    form( method='get' action='deleteItem/' + c.CustomerID )
                        //        button(type='submit' class='btn btn-primary') Delete
    form( method='get' action='/add-product')
        button(type='submit' class='btn btn-primary') Add Record
